body{
    background-color:rgb(28,28,24)
}

.my-pic{
    height: 560px;
    border-radius: 20px;
}

.border{
    border-bottom: 1px white;
    
}

.line {
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 100%; /* or any fixed width you like */
  }
.about-header {
    display: flex;
    align-items: center; /* vertically align items */
    gap: 10px; /* space between h2 and line */
  }

  .bg-custom{
    background-color: rgb(10, 10, 30)
  }


  